body {
	background: FloralWhite;
}


#Name {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid black;
}

#IU {
	float: left;
}

#Experience-Content {
	float: left;
}

#Leadership-Content {
	float: left;
}


#Contact-Info {
	margin: auto;
	width: 90%;
	text-align: center;
	line-height: 0.5;
}

#Degree {
	float: left;
	font-size: 16px;
}


.Section-Headers {
	width: 90%;
	padding: 0px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: SteelBlue;
	border-bottom: 1px solid black;
}

.experience {
	float:left;
}

h3{
	margin: 0 auto;
	width: 90%;
	float: left;
}

h4 {
	margin: 0px;
	width: 90%;
	float: left;
}

ul {
	width: 75%;
	float: left;
	font-size: 16px;
}

.date {
	margin: 0px;
	float: right;
	text-align: right;
	font-size: 16px;
}



