
#Name {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#Contact-Info {
	width: 90%;
	text-align: center;
}


.Date {
	float: right;
	font-size: 16px;
}

.Section-Headers {
	width: 20%;
	float: left;
	font-weight: bold;
	font-size: 36px;
}

h3 {
	border-bottom: 1px solid #999;
}
