
#Name {
	margin: 0 auto;
	width: 90%;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#Education-Header {
	font-size: 28px;
}

.date {
	float: right;

h3 {
	border-bottom: 1px solid #999;
}
