
#Name {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid black;
}

#Contact-Info {
	width: 90%;
	text-align: center;
}


.date {
	float: right;
	font-size: 16px;
}

h3{
	border-bottom: 1px solid black;
}

#GPA {
	float:right;
	font-size: 16px;
}

.Section-Headers {
	width: 40%;
	float: left;
	font-weight: bold;
	font-size: 24px;
}

.experience {
	float:left;
}
